<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zw.co.chimsy.xulkelvin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.classes.activity.ClassesDetailViewActivity"></activity>
        <activity android:name=".ui.timetable.activity.TimeTableActivity" />
        <activity android:name=".ui.helpdesk.HelpDeskActivity" />
        <activity android:name=".ui.payment.PaymentsActivity" />
        <activity android:name=".ui.enrollment.EnrollmentActivity" />
        <activity android:name=".ui.results.activity.ResultsActivity" />
        <activity android:name=".ui.classes.activity.ClassesActivity" /> <!-- Splash Activity -->
        <activity
            android:name=".ui.startup.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Splash Activity End -->
        <!-- Other Activities -->
        <activity
            android:name=".ui.startup.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.startup.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.startup.WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.home.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>